.pendente {
  color: black;
}

.nao_executar {
  color: gray;
}

.executando {
  color: blue;
}

.falha {
  color: red;
}

.falha span {
  color: red;
  clear: both;
  bolder: black 
}

.sucesso {
  color: green;
}

