.agenda thead {
    font-weight: bold;
}
table {
    width: 100%;
    border-collapse: collapse;
}
.agenda th {
    background-color: #CCC;
    font-size: 12px;
    color: #484848;
    padding-left: 4px;
    padding-right: 4px;
    border-bottom: solid 1px #CCC;
    height: 26px;
    padding-right: 5px;
}
.agenda tr:nth-child(odd) {
    background-color: #F3F3F3;
}
.agenda tr:nth-child(even) {
    background-color: #FFF;
}
.agenda tr,
td {
    padding-left: 31px;
    padding-right: 16px;
    font-family: Verdana, Geneva, sans-serif;
    white-space: nowrap;
    border-bottom: solid 1px #E1E1E1;
    height: 45px;
}
.agenda tr:hover {
    background-color: #00D8CC;
    cursor: pointer;
    color: #FFF;
}
#topo {
    text-align: center;
    height: 73px;
}
#quartos {
    font-weight: bold;
}