<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../../../bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="hotel.css">
    <link rel="stylesheet" href="personalizandoAngular.css">
    <link rel="stylesheet" href="../../../bower_components/angular-material/themes/indigo-theme.css">
    <link rel="stylesheet" href="../../../bower_components/angular-material/themes/green-theme.css">




</head>

<body ng-app="sidenavDemo1">

    <div ng-controller="AppCtrl" layout="column" layout-fill>
        <section layout="row" flex>

            <!-- inicio menu sideNav -->
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" component_id="left" is-locked-open="$media('md')">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Hotel name</h1>
                </md-toolbar>


                <!-- Itens menu -->
                <md-content class="md-padding" ng-controller="LeftCtrl">
                    <md-button ng-click="close()" class="md-primary" hide-gt-md>
                        Close Sidenav Left
                    </md-button>
                </md-content>
            </md-sidenav>
            <!-- fim menu sideNav -->

            <md-content flex class="md-padding">
                <md-toolbar class="md-theme-indigo">
                    <h1 class="md-toolbar-tools">Hotel name</h1>
                </md-toolbar>
                <!--<div ng-if="!AppCtrl.toggleLeftOpen">
                        <md-button ng-click="toggleLeft()" class="md-primary">
                            Toggle left
                        </md-button>
                    </div>-->
                <div ng-view layout-fill layout-align="center center"></div>

            </md-content>
        </section>
    </div>

    <script src="../../../bower_components/angular/angular.js "></script>
    <script src="../../../bower_components/angular-aria/angular-aria.js "></script>
    <script src="../../../bower_components/angular-animate/angular-animate.js "></script>
    <script src="../../../bower_components/hammerjs/hammer.js "></script>
    <script src="../../../bower_components/angular-material/angular-material.js "></script>
    <script src="../../../bower_components/angular/angular-route.js"></script>
    <script type="text/javascript " src="mat.js "></script>
</body>


</html>
